.form-label {
    margin-bottom: 7px;
    font-size: 16px
}

.login-body {
    .top {
        background-color: #034f75;
        text-align: center;
    }
}

.light-theme .main-content .login-body .bottom .panel-title {
    color: #034f75;
}

.main-content .login-body .login-btn {
    background: #034f75;
    width: 50% !important;
    border-radius: 20px;
}

.main-content .login-body .login-btn::after {
    background: #034f75;
}
