.form-label {
    margin-bottom: 7px;
    font-size: 16px
}

.login-body {
    .top {
        background-color: #034f75;
        text-align: center;
    }
}

.light-theme .main-content .login-body .bottom .panel-title {
    color: #034f75;
}

.main-content .login-body .login-btn {
    background: #034f75;
    width: 50% !important;
    border-radius: 20px;
}

.main-content .login-body .login-btn::after {
    background: #034f75;
}
.main-content .login-body .top{
    height: auto;
}

.main-content .login-body .login-btn:focus::after{
    width: unset;
}

.login-btn{
    font-size: 18px;
}
.footer{
    background: unset !important;
}

@media only screen and (max-width: 991px) and (min-width: 320px) {
    .logo img {
        max-width: 100% !important;
    }

    .main-content .login-body .top{
        height: auto;
        text-align: -webkit-center;
    }
}
.left-aligned {
    text-align: left;
}

/* Placeholder styling */
.left-aligned::placeholder {
    text-align: left;
}